.row,.row>*{
  padding: 0;
  margin: 0;
}
.head.container {
  margin: auto;
  margin-top: 30px;
  color: white;
  justify-content:space-around;
  
}
.head .head-left {
  
  font-size: 25px; 
}
.head-right .img-box {
  width: 100%;
  overflow: hidden;
 
}
#prevMonthBtn,#nextMonthBtn,#todayBtn
{
  display: block;
  color: white;
}
#prevMonthBtn:hover,#nextMonthBtn:hover,#todayBtn:hover
{
 background-color: yellow;
  color: rgb(195, 45, 45);
}
.calendar,
.head {
  margin: auto;
  max-width: 1200px;
justify-content: center;
}
.calendar .weekday {
  padding: 10px;
  width: 14.285714%;
  text-align: center;
  border-bottom: 1px solid gainsboro;
}
.calendar .weekday span{
  display: block;
}
.calendar .day {
  height: 120px;
  width: 14.285714%;
  text-align: center;
  border: 1px solid gainsboro;
}
.calendar ul{
  margin: 0;
  padding: 5px;
}
.calendar .listStyle {
  display: block;
  list-style:none;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #f5ddb7;
  font-size: 17px;
  font-weight: 900;
  color:#181818;
  overflow: hidden; /* 隱藏超出邊界的內容 */
  box-shadow: 2px 2px 5px #18181869, inset 2px 2px 10px #ffffffb0;
}
section.calendar{
  position: relative;
}
#newTodo{
  box-shadow: 2px 2px 5px #18181869, inset 2px 2px 10px #ffffffb0;
  position: absolute; 
}
/* ------------- */

.date {
  display: flex;
  align-items:center;
  justify-content: center;
 
}

.number {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.year {
  font-size: 1rem;

}

.month {
  font-size: 1.5rem;
  font-weight: bold;
 
}

.text {
  font-size: 0.9rem;
  line-height: 1.5;
}
